footer{
  padding: 10px 0;
  min-height: 220px;
  background-color: #767676;
}
.footer-contacts {
  margin: 0 auto;
  width: 200px;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 1.571;
}
.footer-name {
  width: 215px;
  margin: 0 auto;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 1.571;
  img {
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    width: 43px;
    margin-top: -14px;
  }
  .info {
    margin-left: 10px;
    display: inline-block;
    width: 159px;
    height: 35px;
    span { text-decoration: underline; }
  }
}
.footer__nav {
  margin: 10px auto;
  width: 200px;
  ul {
    li{
      list-style: none;
      a {
        font-size: 14px;
        color: #FFFFFF;
        line-height: 1.857;
      }
    }
  }
}