@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic,cyrillic-ext');
$font-pt_sans: 'PT Sans', sans-serif;

body { font-family: $font-pt_sans !important; }

@import 'header';
@import 'nav';
@import 'main';
@import 'footer';
@import 'modal';

@media (max-width: 1200px) {
  .nav{ ul { li{ a { margin: 0 14px; } } } }
}
@media (max-width: 992px) {
  .list { width: 260px; }
  .nav {
    padding: 0 0;
    height: 240px;
    ul {
      margin: 8px auto 0 auto;
      float: left;
      li{
        border-left: none;
        float: none;
        a { margin: 0 5px;  } }
    }
  }
}
@media (max-width: 576px) {
  .list { width: 260px; }
  .nav { ul { padding: 0 0; } }
}

